XSD/lastTwenty-20250605/lastTwenty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="NameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="lang" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="CrossSectionalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="tipo-id" name="ID"/>
              <xs:element type="xs:boolean" name="Test"/>

              <xs:element name="Name" type="NameType" maxOccurs="unbounded"/>
              <xs:element type="xs:dateTime" name="Prepared"/>
              <xs:element name="Sender">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="NameType"/>
                    <xs:element name="Contact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="NameType"/>
                          <xs:element type="tipo-email" name="Email"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Section" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TBA_DETAIL" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="tipo-mayus" name="INCLUSION_EXCLUSION_FLAG" use="optional"/>
                                  <xs:attribute type="tipo-valM" name="AMT_ACCEPTED_PAR" use="optional"/>
                                  <xs:attribute type="xs:string" name="SECURITY_DESCRIPTION" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DR_DETAIL" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="INCLUSION_EXCLUSION_FLAG" use="optional"/>
                                  <xs:attribute type="xs:string" name="AMT_ACCEPTED_PAR" use="optional"/>
                                  <xs:attribute type="tipo-security" name="SECURITY_DESCRIPTION" use="optional"/>
                                  <xs:attribute type="tipo-mayus" name="OPERATION_DIRECTION" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="AUCTION_STATUS" use="optional"/>
                        <xs:attribute type="xs:string" name="OPERATION_ID" use="optional"/>
                        <xs:attribute type="xs:date" name="OPERATION_DATE" use="optional"/>
                        <xs:attribute type="xs:string" name="OPERATION_DIRECTION" use="optional"/>
                        <xs:attribute type="xs:string" name="OPERATION_TYPE" use="optional"/>
                        <xs:attribute type="tipo-mayus" name="AUCTION_METHOD" use="optional"/>
                        <xs:attribute type="xs:string" name="OPERATION_RELEASE_TIME" use="optional"/>
                        <xs:attribute type="xs:time" name="OPERATION_CLOSE_TIME" use="optional"/>
                        <xs:attribute type="xs:date" name="OPERATION_SETTLEMENT_DATE" use="optional"/>
                        <xs:attribute type="tipo-mayus" name="CLASS_TYPE" use="optional"/>
                        <xs:attribute type="xs:string" name="NOTE" use="optional"/>
                        <xs:attribute type="xs:string" name="TOTAL_AMT_SUBMITTED_ORIGINAL_FACE" use="optional"/>
                        <xs:attribute type="xs:string" name="TOTAL_AMT_ACCEPTED_ORIGINAL_FACE" use="optional"/>
                        <xs:attribute type="xs:string" name="TOTAL_AMT_SUBMITTED_CURRENT_FACE" use="optional"/>
                        <xs:attribute type="xs:string" name="TOTAL_AMT_ACCEPTED_CURRENT_FACE" use="optional"/>
                        <xs:attribute type="tipo-valM" name="TOTAL_AMT_SUBMITTED_PAR" use="optional"/>
                        <xs:attribute type="tipo-valM" name="TOTAL_AMT_ACCEPTED_PAR" use="optional"/>
                        <xs:attribute type="tipo-mayus" name="OBS_CONF" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="LAST_UPDATED" use="optional"/>
                        <xs:attribute type="xs:time" name="START_TIME" use="optional"/>
                        <xs:attribute type="xs:time" name="END_TIME" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="tipo-mayus" name="AVAILABILITY"/>
                  <xs:attribute type="tipo-mayus" name="DISCLAIMER"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Restricciones -->
  <xs:simpleType name="tipo-id">
    <xs:restriction base="xs:string">
      <xs:pattern value="AMBS\d{14}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipo-email">
    <xs:restriction base="xs:string">
      <xs:pattern value=".{1,64}@.{1,59}\.[a-z]{2,3}"/> <!-- Cuando pones el . y la cantidad quiere decir que puedes meter cualquier caracter antes del arroba incluido el punto, para obligar a poner un punto es con \. si no lo pones el punto lo pilla como si indicaras que puedes poner cualquier caracter -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipo-mayus">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="tipo-valM">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1000000"/>
      <xs:maxInclusive value="20000000000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipo-security">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4} [0-9](\.[0-9])? \d{2}/\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>